{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-8">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About
              </h2>
              <h2>
                Mr. Ravi Singh (BE Civil)
              </h2>
            </div>
            <p>
                Ravi Singh, started his career as an engineer with a well reputed developer & turned Businessman with a handful of experience in the vast field of Construction and retail development. Ever since the inception, He has worked hard towards achieving the mission to build quality construction timely and to achieve highest level of customer satisfaction.
            </p>
            <p>
                Shree Infratech is established with the vision to excel in the field of real estate, Factory Building, Infrastructure and to foster in the growth of modern India and to be a significant contributor in the construction industry. The Group has worked on numerous mega projects that have helped to lift the standard of living of our clients and customers.
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="img-box">
            <center><img src="{%static 'images/ravi.jpeg'%}" alt=""></center>
          </div>
        </div>

      </div>

      <!-- <h4 style="margin-top: 40px; text-align:center;">‘CLIENT SATISFACTION IS COMPANY ACHIEVEMENT’</h4>
      <p>SHREE INFRATECH is a techno driven innovative, efficient and financially sound company managed by its professionally qualified Board/Management that eventually brings a fusion of Engineering, Construction and Technology into a refined customer-centric service organization.
      </p> -->

    </div>
  </section>
  {%endblock%}

  