{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              SHREE INFRATECH (Under the Flag of Akrati Engineers) with over two  decades  of  quality  construction  of  Commercials
              /Educational/ Residential high rise apartments, RUB& ROB has helped to enhance quality of life and delight both customers and the clients.
            </p>
            <p>
              SHREE INFRATECH with dedicated hard work and Engineering excellence with unique initiative towards backward integration has helped the company to control both cost and time schedules.
            </p>
            <p>
              SHREE INFRATECH under the leadership of Mr. Ravi Singh is sure to transform the company the way people perceive quality and time
              , which over the intervening years this vision shall continue to be the bedrock of all endeavors to maintain the company of:-
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/service9.jpg'%}" alt="">
          </div>
        </div>

      </div>

      <h4 style="margin-top: 40px;">Vision</h4>
      <p>To be leader amongst the much sought after and trusted companies delivering reliable and quality services at competitive costs, setting new bench marks of corporate performance.
      </p>

      <h4 style="margin-top: 40px;">Mission</h4>
      <p>To adopt best available practices.
      </p>
      <ul>
        <li>To achieve excellence in service, quality, reliability, safety and adhering to time schedules.</li>
        <li>To contribute towards society and nation building.</li>
        <li>To create a transparent and healthy work culture.</li>
        <li>To	become	a	technology	driven,	innovative	and efficient company.</li>
      </ul>

      <h4 style="margin-top: 40px;">Corporate Values</h4>
      <p>
      </p>
      <ul>
        <li>Integrity: We must conduct our business fairly, with honesty and transparency. Everything we do must stand the test of public scrutiny.</li>
        <li>Excellence: We must constantly strive to achieve the highest possible standards in our day-to-day work and in the quality of the goods and services we provide.</li>
        <li>Unity: We must work cohesively with our colleagues across the group and with our customers and partners around the world</li>
        <li>Responsibility: We must be responsible, sensitive to the countries, communities and environments in which we work.</li>
        <li>Attracting, developing and retaining the best talent for our business challenging our people, demonstrating a “can- do” attitude and fostering a collaborative and mutually supportive environment.</li>
      </ul>

      <h4 style="margin-top: 40px;">Our Strength</h4>
      <p>The hallmark of our company is the quality of work long term association, co-operation and co-ordination with which are execute. It is a result of our co-operation with our partners , and the quality of work that we produce , that has enable the company to carry on work continuously with our principals and architects for a long period .
      <p>We have always our works with an experienced team of engineers and Technical foremen, guided by professional Managers, Experienced Administrators and staff are in the administrations. All works are largely executed by recruitment and Company, Control on the quality of the works .This also gives more control on labour & production</p>
        
      </p>

      <h4 style="margin-top: 40px;">QUALITY</h4>
      <p>Quality is a key driver for our firm and the same is ensured through a multi faceted approach. From the correct input material, the right processes, skilled work force and experienced supervisors to the correct equipment, to ensure the consistency and supervisor quality is part of all our work.”
      </p>
      <p>We are deeply committed to quality and customer satisfaction. The project under taken by us reflect the versatility and adaptability of our company.</p>
      <ul>
        <li>A Standard Shree Quality Manual is present at each site with execution staff as well as the client.</li>
        <li>A standard file is maintained with records of check sheets that are followed.</li>
        <li>The same is reviewed by the Management on a periodic basis.</li>
        <li>Professional	approach	to	Project	Management,	Civil Engineering techniques and applications are used.</li>
        <li>A structured systematic, tested and time bound delivery of project is done .</li>
        <li>Efficient time management and meeting of schedules is followed.</li>
        <li>	Technical advancements & regular up gradation of knowledge and training for quality assurance.</li>
      </ul>

      <h4 style="margin-top: 40px;">HEALTH & SAFETY</h4>
      <p>Our Company has strict safety standards for assuring accident free working at site. A dedicated safety In charge is onsite to make sure that safety rules laid down by Shree Infratech are satisfactory to the client, are strictly adhered to. We use the following basic safety measures for all our works, including many more:
      </p>
      <ul>
        <li>No child labour policy is followed and we make sure that our sub-contractors follow the same policy as well.</li>
        <li>All personnel on site wear helmets and high visibility jackets within work premises. Safety belts are used for all work at heights.</li>
        <li>First Aid kits are provided at site and staff at site is aware of medical facilities available near the site in case of emergencies.</li>
        <li>All excavation pits not being worked are barricaded.</li>
        <li>•	Full security setup to make sure that no unauthorized access happens at site.</li>
      </ul>
      <p>Provide necessary safety training for all employees.</p>

      <h4 style="margin-top: 40px;">Embankment work</h4>
      <p>
      </p>
      <ul>
        <li>Properly earthing of all electrical tools, tackles &wring.</li>
        <li>Regular inspection by	Head	Office	on critical Safety measures</li>
      </ul>
      

    </div>
  </section>
  {%endblock%}

  