{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-box" style="text-align: justify;">
            <div class="heading_container" style="text-align: center;">
              <h2>
                COMMITMENT TO OUR VALUED CLIENTS
              </h2>
            </div>
            <p>
                We consider each client to be our asset. Challenging deadlines are accepted with full confidence. Modern Construction Technology and Quality Control systems are deployed for Planning, Scheduling and Execution of projects in time.
            </p>
            <p>
                As your service partner Shree Infratech provides you personalized, honest approach which very few companies can offer, giving an edge over others.
            </p>
            <h4 style="text-align: right; color:#fe0000">RAVI SINGH</h4>
            
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <!-- <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'images/a2.jpg'%}" alt="">
          </div>
        </div> -->

      </div>

      
      

    </div>
  </section>
  {%endblock%}

  