{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="detail-box">
            <div class="heading_container" style="margin-bottom: 40px;">
              <h2>
                SNAP SHOTS STRUCTURE AND ORGANISATION
              </h2>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>Name of Organization :</th>
                        <td>Shree Infratech</td>
                    </tr>
                    <tr>
                        <th>Corporate Address :</th>
                        <td>C-39, 1st Floor, Vishwakarma colony
                            Prahladpur, Badarpur, New Delhi-110044
                            </td>
                    </tr>
                    <tr>
                        <th>Regd. Office Addresses :</th>
                        <td>501, Sorrento Tower, Omaxe Heights,
                            Sector-86, Faridabad-121002
                            </td>
                    </tr>
                    <tr>
                        <th>Contact Nos :</th>
                        <td>9811983285</td>
                    </tr>
                    <tr>
                        <th>Email ID’s :</th>
                        <td>shreeinfratech17@gmail.com</td>
                    </tr>
                    <tr>
                        <th>Management Details :</th>
                        <td>Shree Infratech</td>
                    </tr>
                    <tr>
                        <th>Chairperson :</th>
                        <td>Ravi Singh</td>
                    </tr>
                    <tr>
                        <th>Partner :</th>
                        <td>Ravi Singh</td>
                    </tr>
                    <tr>
                        <th>GSTIN No. :</th>
                        <td>06ADHFS6564K1ZJ</td>
                    </tr>
                    <tr>
                        <th>PAN No. :</th>
                        <td>ADHFS6564K</td>
                    </tr>
                    <tr>
                        <th>PF NO. :</th>
                        <td>GNRTK1744539000</td>
                    </tr>
                    <tr>
                        <th>ESI No. :</th>
                        <td>13000844860001099</td>
                    </tr>
                    <tr>
                        <th>UAN :</th>
                        <td>HR03E0009009</td>
                    </tr>
                    <tr>
                        <th>Achievement :</th>
                        <td>Registered with Govt, of India</td>
                    </tr>
                    <tr>
                        <th>Bankers :</th>
                        <td>ICICI BANK Limited SECTOR 16, Faridabad
                            008305013165
                            </td>
                    </tr>
                    <tr>
                        <th>Auditors :</th>
                        <td>K.C & associates</td>
                    </tr>
                    <tr>
                        <th>Group of Companies Addresses :</th>
                        <td>C-39, 1st Floor, Vishwakarma colony Prahladpur, Badarpur, New Delhi-110044</td>
                    </tr>
                </table>
            </div>
          </div>

          <div class="detail-box">
            <div class="heading_container" style="margin-bottom: 40px;">
              <h2>
                BUSINESS OPERATIONS:
              </h2>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>ENGINEERING :</th>
                        <td>CONSTRUCTIONS,</td>
                    </tr>
                    <tr>
                        <th>REAL ESTATE :</th>
                        <td>BUSINESS DEVELOPMENT ASSOCIATE</td>
                    </tr>
                    
                </table>
            </div>
          </div>
        </div>

      </div>

      

    </div>
  </section>
  {%endblock%}

  