{%extends "index.html"%}
{%load static%}
{%block body%}


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Project
          </h2>
          <p>
            Work List Under Flag of Shree Infratech
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                    Syphon work
                </h5>
                <h6>
                  Location: Maripat, GZB
                </h6>
                <p>
                  Work in favour of Railway
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Civil Work
                </h5>
                <h6>
                  Location: Sector 81 Gurugram
                </h6>
                <p>
                  Work in favour of Signature Global
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Finishing Work
                </h5>
                <h6>
                  Location: Sector 78, Grugram
                </h6>
                <p>
                  Work in favour of Umang Realtech Pvt Ltd
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Structure work of factory building
                </h5>
                <h6>
                  Location: Khelgaon Ranchi Jharkhand
                </h6>
                <p>
                  Work in favour of Orient craft fashion park limited
                </p>
                <p>
                  Status: On Going
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Boundary wall
                </h5>
                <h6>
                  Location: Block chowk Orimanghi Ranchi Jharkhand
                </h6>
                <p>
                  Work in favour of Matrix clothings pvt ltd
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Civil Work
                </h5>
                <h6>
                  Location: Sector 103 &Gurugram
                </h6>
                <p>
                  Work in favour of Signature Global
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Fabrication Work
                </h5>
                <h6>
                  Location: Sector 71 Gurugram
                </h6>
                <p>
                  Work in favour of Signature Global
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Miscellaneous work
                </h5>
                <h6>
                  Location: Sector 81 Gurugram
                </h6>
                <p>
                  Work in favour of Signature Global
                </p>
                <p>
                  Status: Completed
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>             
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Interior Work
                </h5>
                <h6>
                  Location: D3 Sector 52, Noida
                </h6>
                <p>
                  Work in favour of Praviate
                </p>
                <p>
                  Status: On going
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Civil Work
                </h5>
                <h6>
                  Location: Sector 24, Hisar
                </h6>
                <p>
                  Work in favour of Rajdarbar BuildHome
                </p>
                <p>
                  Status: On going
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="box ">
              <div class="img-box">
                <img src="{%static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Civil Work
                </h5>
                <h6>
                  Location: Cahndani Chowk
                </h6>
                <p>
                  Work in favour of Ravee Infraheight
                </p>
                <p>
                  Status: On going
                </p>
                <!-- <a href="/website/">
                  Read More
                </a> -->
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  {%endblock%}

  